.chart { 
	font: 12px Arial;
}

path {
	stroke-width: 2;
	fill: none;
}

.axis path,

.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.grid .tick {
	stroke: lightgrey;
	opacity: 0.7;
}

.grid path {
	stroke-width: 0;
}


.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}


.tick {
	font: 12px Arial;
}

#ylabel {
	font: 12px Arial;
}

.tip {
	font: 14px Arial;
	background-color:#f5f5f5;
	border-style: solid;
    border-width: 1px;
    border-radius: 5px;
	padding:5px;
}

.tip_head {
	font: 10px Arial;
	color:#8C8C8C;
}

.tip_mid {
	font: 10px Arial;
	color:#8C8C8C;
}
